<?xml version="1.0"?>
<launch>

  <arg name="online" default="false"/>
  <arg name="submap_frame" default="/kf_ref"/>
  <arg name="submap_topic" default="/lidar_keyframe_slam/kfRef_cloud"/>
  <arg name="velodyne_frame" default="/velodyne"/>
  <arg name="velodyne_topic" default="/velodyne_points"/>
  
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="/home/haowei/haowei_ws/src/semantic_labeller/config/lidar.rviz"/>

  <arg name="save_to_ply" default="false"/>
  <arg name="save_dir" default="/home/haowei/Documents/data/route_A/08-09-2019/frame2frame/results/"/>

  <arg name="max_distance" default="1.0"/>

  <!-- always make sure we are not using simulation time when running online-->
  <param unless="$(arg online)" name="/use_sim_time" value="true"/>
  <param if="$(arg online)" name="/use_sim_time" value="false"/>

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args=" -d $(arg rviz_config)"/>
  </group>

  <node pkg="semantic_labeller" type="semantic_labeller_node" name="semantic_labeller_node" output="screen">
    <param name="submap_frame" value="$(arg submap_frame)"/>
    <param name="submap_topic" value="$(arg submap_topic)"/>
    <param name="velodyne_frame" value="$(arg velodyne_frame)"/>
    <param name="velodyne_topic" value="$(arg velodyne_topic)"/>

    <param name="max_distance" type="double" value="$(arg max_distance)"/>

    <param name="save_to_ply" value="$(arg save_to_ply)"/>
    <param name="save_dir" value="$(arg save_dir)" />
  </node>

</launch>     
